@charset "UTF-8";

:root {
  --mainPurple: #8436c8;
  --fadePurple: #b967d9;
  --secondPurp: #9f4ece;
  --firstForeignPurp: #ae6fd3;
  --secondForeignPurp: #e8d6f2;
  --textColor: #f8f4fb;
  --backgroundColor: #1d2532;
  --neroSecondarioFade: #2b3344;
  --neroSecondario: #5C616D;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: auto auto;
  font-weight: 400;
  font-size: 15px;
  position: relative;
}

.wrapper .package {
  box-sizing: border-box;
  width: 400px;
  height: auto;
  display: inline-block;
  padding: 24px;
  text-align: center;
  float: center;
  transition: margin-top 0.5s linear;
  margin: 5px;
  background-color: var(--neroSecondarioFade);
  transform: scale(1);
  transition: transform 0.5s ease-in-out;
  
}

.wrapper .card{
  position: absolute;
}

.wrapper .overlay{
  float: center;
  margin:auto;
  z-index: 9;
}

.wrapper .package:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out;
}

.wrapper .name {
  font-weight: 600;
  font-size: 2rem;
  margin-top: -5px;
}

.wrapper hr {
    background-color: rgb(181, 77, 199);
    background-color: -moz-linear-gradient(
      90deg,
      rgba(181, 77, 199, 1) 0%,
      rgba(135, 74, 136, 1) 72%
    );
    background-color: -webkit-linear-gradient(
      90deg,
      rgba(181, 77, 199, 1) 0%,
      rgba(135, 74, 136, 1) 72%
    );
    background-color: linear-gradient(
      90deg,
      rgba(181, 77, 199, 1) 0%,
      rgba(135, 74, 136, 1) 72%
    );
  border: none;
  height: 1px;
}

.wrapper .pricing {
  font-size: 0.9rem;
  font-weight: 600;
  padding: 2px 21px 2px 21px;
  color: var(--textColor);
  display: inline-block;
  border-radius: 15px;
  background-color: rgb(181, 77, 199);
  background-color: -moz-linear-gradient(
    90deg,
    rgba(181, 77, 199, 1) 0%,
    rgba(135, 74, 136, 1) 72%
  );
  background-color: -webkit-linear-gradient(
    90deg,
    rgba(181, 77, 199, 1) 0%,
    rgba(135, 74, 136, 1) 72%
  );
  background-color: linear-gradient(
    90deg,
    rgba(181, 77, 199, 1) 0%,
    rgba(135, 74, 136, 1) 72%
  );
  position: relative;
  bottom: -20px;
}

.subscribe-button{
    border-radius: 7px;
    border: none;
    font-family: "Baloo 2";
    font-weight: 600;
    font-size: 1.4rem;
    padding: 0.5rem 1rem;
    color: var(--textColor);
    margin-top: 1rem;
    width: 100%;

    background: rgb(181, 77, 199);
    background: -moz-linear-gradient(90deg, rgba(181, 77, 199, 1) 0%, rgba(135, 74, 136, 1) 72%);
    background: -webkit-linear-gradient(90deg, rgba(181, 77, 199, 1) 0%, rgba(135, 74, 136, 1) 72%);
    background: linear-gradient(90deg, rgba(181, 77, 199, 1) 0%, rgba(135, 74, 136, 1) 72%);

}

#payment-div{
  margin-top: 2rem;
}