@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");

:root {
  --mainPurple: #8436c8;
  --fadePurple: #b967d9;
  --secondPurp: #9f4ece;
  --firstForeignPurp: #ae6fd3;
  --secondForeignPurp: #e8d6f2;
  --textColor: #f8f4fb;
  --backgroundColor: #1d2532;
  --cardColor: #313946;
  --darkPurple: #c29be4;
}

/* 
  SCROLLBAR
    Formatting of the scrollbar
*/
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 5px;
  background: var(--backgroundColor);
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: var(--mainPurple);
}

/* 
  BODY AND HTML
    Formatting of the body and HTML tag
*/
html {
  scroll-behavior: smooth;
}
body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body {
  margin: 0;
  text-align: center;
  font-family: "Baloo 2", sans-serif;
  user-select: none;
  background-color: var(--backgroundColor);

  color: var(--textColor);

  position: relative;
  min-width: 10px;
  min-height: 768px;
  height: 100%;
}
h1,
h2 {
  line-height: 0;
}
h1 {
  color: var(--mainPurple);
  font-size: 4rem;
}
h2 {
  font-size: 1.9rem;
}

p {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0;
  margin-inline-start: -1vw;
  margin-inline-end: 0px;
}
main {
  margin-top: 40px;
  margin-bottom: 200px;
}

/* 
  TITLE
    Formatting for the title SPOTTED and the video
*/
#phoneContainer {
  height: 100%;
  width: 100%;
}
.phone {
  display: block;
}
.titleSpotted {
  margin: auto;
  padding: 0;
  width: 100%;
  font-size: 29.9vw;
}
#spotted {
  /* margin-left: -1%; */
  font-weight: 800;
  margin-top: 7vw;
}
#spotted {
  left: 0;
  letter-spacing: 0;
}

#video {
  position: absolute;
  margin: 0 auto;

  left: 0;
  right: 0;

  -webkit-box-shadow: 0px 70px 150px 10px var(--secondPurp);
  box-shadow: 0px 70px 150px 10px var(--secondPurp);

  object-fit: cover;
}

.downloadButtons {
  display: block;
  height: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;

  gap: 20px;
  opacity: 1;
}
.downloadButtons a {
  height: 7vh;
  width: 35vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
#downloadButtons {
  position: relative;
}
.flex {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
}
.button {
  z-index: 100;
}
.appStore {
  background: url("../img/AppStoreDownload.png");
}
.googleStore {
  background: url("../img/GooglePlayDownload.png");
}

.valueProposition {
  width: 100vw;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.valueText {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.valueProposition h1,
h2 {
  color: white;
  font-weight: 700;
}

/* 
  TROVA SECTION
    Formatting for the "Trova" section (with the 3 imgs)
*/
.trovaSection {
  width: 100%;

  font-size: 2em;
  color: white;

  margin-top: 300px;
  /* display: none; */
}
.imgWithDescription {
  max-width: 1000px;
  line-height: -100px;
  flex-grow: 1;
  margin: auto;
}
.imgWithDescription > img {
  width: 80%;
  max-width: 300px;
  padding: 20px;
  margin: auto;
}
.imgWithDescription > h3 {
  width: 100%;
  margin: -20px auto 50px auto;
}
.imgContainer {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
}

/* 
  TEXT CONTAINER
    Formatting for the text in the text containers
*/
.textContainer {
  text-align: left;
  width: 75%;
  max-width: 1000px;
  min-width: 350px;
  margin: 100px auto;
}
.textContainer > h1 {
  text-align: center;
}
.textContainer h2 {
  font-style: italic;
}

/* 
  MEDIA QUERY
    Setting the formatting based on the screen
*/
@media (max-width: 56em) {
  body {
    overflow-x: hidden;
  }
  h1 {
    line-height: 60px;
  }
  h2 {
    line-height: 40px;
  }
  .textContainer {
    line-height: normal;
  }

  .imgContainer {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
  }
  .imgWithDescription > img {
    flex-grow: 1;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

#premiumMain {
  margin: 0 1rem 0 1rem;
}

.premiumTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.premiumTitle h1:nth-child(1) {
  color: white;
}

.premiumCardsHolder {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  justify-content: center;
}
.premiumCardsHolder > div:nth-child(1) {
  margin: 30px 0;
}

.premiumCardsHolder > div:nth-last-child(1) {
  margin: 30px 0 30px 10px;
}

.card {
  width: 300px;
  background-color: #738bb3;

  padding: 10px 0;
  margin: 10px;
  background-color: var(--cardColor);
}
.priceButtonWithLines {
  /* flex-wrap: wrap; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  align-items: center;
}

.priceButtonWithLines hr {
  display: flex;
  flex: 1;
  width: 30%;
  height: 0%;
  border: solid 1px var(--mainPurple);
}

.priceButton {
  display: flex;
  flex: 1;

  border-radius: 20px;
  border: none;
  background: linear-gradient(90deg, #be36c8 0%, #5b36c8 72%);
  background: -moz-linear-gradient(90deg, #be36c8 0%, #5b36c8 72%);
  background: -webkit-linear-gradient(90deg, #be36c8 0%, #5b36c8 72%);
  background: linear-gradient(90deg, #be36c8 0%, #5b36c8 72%);
  color: white;
  padding: 5px 10px;
}

.feature {
  display: flex;
  align-items: center;
  justify-content: center;
}
.feature > img {
  width: 20px;
  aspect-ratio: 1;
  margin: 0px 10px 0px 0px;
}
.premiumTitle {
  margin-top: 60px;
}

.premiumCardsHolder > div:hover {
  transform: scale(1.1);
  transition: 1s;
}
.premiumCardsHolder > div:not(:hover) {
  transform: scale(1);
  transition: 1s;
}

/* FORM DI PAGAMENTO */
#payment-div {
  width: 200px;

  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--mainPurple);

  transition: 1s;
  border-radius: 20px;

  width: 80%;
  max-width: 800px;
  padding: 50px 100px;
}
#payment-div > button > img {
  width: 15px;
  aspect-ratio: 1;
}
#payment-div > button {
  position: absolute;
  right: 20px;
  top: 20px;
  float: right;
  border: none;
  background-color: transparent;
  filter: contrast(100);
}
form > button {
  border-radius: 20px;
  border: none;
  background-color: green;
  color: white;
  padding: 5px 10px;
}

/* FOOTER */
footer {
  width: 100%;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--cardColor);
}
.footerContent {
  width: 90%;
  max-width: 1500px;
  position: absolute;
  bottom: 0;
}
.oloLogo img {
  height: 100%;
  width: 250px;
  bottom: 0;
}
.footerContainer {
  width: 90%;
  max-width: 1500px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: rgb(194, 194, 194);
}

.footerLinksText {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}
.footerLinks {
  display: flex;
  flex: 1;
  justify-content: center;
}
.footerLinks a {
  text-decoration: none;
  color: rgb(194, 194, 194);
}
.footerLinks hr {
  width: 4px;
}

.credits {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  text-align: left;
}

.rights {
  display: flex;
  flex: 1;

  justify-content: flex-end;

  color: rgb(194, 194, 194);
}

.card:not(:focus) {
  filter: none;
}

/* DIV DI ERRORE */
/*
.error {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.61);

  display: none;
}

.error > i {
  padding: 0 1rem;
  color: var(--mainPurple);
  font-size: 2rem;
}
.error > h3 {
  font-size: 2rem;
}*/

@media (max-width: 56em) {
  .premiumCardsHolder {
    flex-direction: column;
    align-items: center;
  }
  .premiumTitle {
    margin-top: 20px;
  }
  .premiumTitle > h1 {
    font-size: 2.5em;
  }

  footer {
    position: relative;
    margin: 400px auto 0 auto;
  }
  .footerContainer {
    position: relative;
    flex-direction: column;
  }
  .credits {
    justify-content: center;
  }
  .footerLinksText {
    margin-top: 30px;
  }
  .rights {
    justify-content: center;
    margin-top: 30px;
  }

  .social {
    margin: 0 1rem 0 1rem;
  }

  #checkEmail {
    height: 4rem;
    width: 4rem;
  }
}

.purpleText {
  color: var(--mainPurple);
}

a {
  color: var(--darkPurple);
  text-decoration: none;
}

/* 
  SOCIAL DIV
*/
.section {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.social {
  text-align: left !important;
}
.social > h2 {
  margin-top: 0.4em;
}

#emailForm {
  display: flex;
  flex-direction: column;

  gap: 20px;
}
#emailForm * {
  font-size: 1.3rem;
}
.checkBoxDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
#checkEmail {
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  outline: none;
  cursor: pointer;
}
.checkBoxDiv input:checked ~ #checkEmail {
  background-color: var(--mainPurple);
}
input[type="submit"] {
  font-family: "Baloo 2", sans-serif;
  margin: auto;
  padding: 0.5rem 0;
  border-radius: 7px;
  width: 200px;
  color: white;
  border: none;
  background: rgb(181, 77, 199);
  background: -moz-linear-gradient(
    90deg,
    rgba(181, 77, 199, 1) 0%,
    rgba(135, 74, 136, 1) 72%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(181, 77, 199, 1) 0%,
    rgba(135, 74, 136, 1) 72%
  );
  background: linear-gradient(
    90deg,
    rgba(181, 77, 199, 1) 0%,
    rgba(135, 74, 136, 1) 72%
  );
}
.subTerm {
  color: gray;
  font-weight: 300;
  font-size: 1rem !important;
}

#email {
  padding: 7px;
  border-radius: 10px;
  border: none;
}

#status {
  margin-top: 20px;
  text-align: center !important;
}

.confirm i {
  color: var(--mainPurple);
}

.error i {
  color: red;
}
